* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #333;
  /* font-family: ; */
}
section {
  width: 95%;
  /* height: 790px; */
  margin: 20px auto;
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 14px;
}
input {
  display: none;
  width: 74px;
  height: 47px;
}
nav {
  width: 5%;
  height: 100%;
  background: #3f3d56;
  /* background: #178673; */
  float: left;
  transition: 0.5s;
  position: absolute;
  /* border-radius: 13px; */
}
input.checkbox-nav:checked ~ nav {
  width: 20%;
}
input.checkbox-nav:checked ~ .toggle-nav {
  left: 22%;
}
input.checkbox-nav:checked ~ label .fa-bars {
  display: none;
}
input.checkbox-nav:checked ~ label .fa-times {
  display: block;
}

label .fa-solid {
  /* display: none; */
  /* width: 0px; */
  opacity: 0;
  transition: 0.5s;
}
input.checkbox-theme:checked ~ label .fa-solid {
  /* display: block; */
  opacity: 1;
  transition: 0.5s;
}
input.checkbox-theme:checked ~ label .fa-regular {
  /* display: none; */
  opacity: 0;
  transition: 0.5s;
}
input.checkbox-theme:checked ~ section {
  /* display: none; */
  /* background-color: #2f2e41; */
  background-color: #111927;

  transition: 0.3s;
  color: whitesmoke;
}
input.checkbox-theme:checked ~ section h1 {
  /* display: none; */
  color: #fff;
}
input.checkbox-theme:checked ~ section h3 {
  /* display: none; */
  color: #00bfa6;
}
input.checkbox-theme:checked ~ section p {
  /* display: none; */
  color: gainsboro;
}

label .fa-moon {
  font-size: 20px;
  width: 25px;
}

.toggle-theme {
  cursor: pointer;
  position: relative;
}
.toggle-theme i {
  top: 4px;
  position: absolute;
}
.toggle-nav {
  position: absolute;
  left: 6%;
  top: 8px;
  transition: 0.5s;
  cursor: pointer;
}
label .fa-times {
  display: none;
}
ul {
  width: 100%;
  height: 100%;
  padding: 20px;
}
ul li {
  list-style: none;
  /* margin: 2px; */
  overflow: hidden;
}
nav ul li {
  height: 60px;
  line-height: 60px;
  width: 100%;
  /* background-color: #111927; */
}
nav ul {
  padding: 10px;
}
li a {
  text-decoration: none;
  color: #2f2e41;

  /* text-align: center; */
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
li a .fa {
  font-size: 18px;
  width: 100%;
  /* margin-left: 10px; */
  text-align: center;
  z-index: 100;
}
li a span {
  font-size: 14px;
  margin-left: 10px;
  display: none;
}
input.checkbox-nav:checked ~ nav ul li a span {
  display: inline-block;
}
input.checkbox-nav:checked ~ nav ul li a i {
  width: 25px;
}
input.checkbox-nav:checked ~ main {
  /* width: 78%; */
}
main {
  width: 85%;
  height: 100%;
  /* background-color: #000; */
  /* float:inline-end; */
  margin: 0 auto;
  transition: 0.5s;
}
main header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  border-bottom: 2px whitesmoke;
}

header a {
  padding: 0 5px;
  margin: 0 10px;
  text-decoration: none;
  color: inherit;
}
header a.hire-btn-top {
  background-color: #00bfa6;
  color: #fff;
  padding: 4px 6px;
  border-radius: 5px;
}
.main {
  width: 100%;
  height: 80%;
  float: right;
  /* background: #000; */
}
.main .banner {
  width: 98%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .banner .content,
.main .banner img {
  width: 50%;
}
.main .banner img {
  height: 90%;
}
.main .banner div h1 {
  font-size: 80px;
  padding: 2px 0px 2px 50px;
  color: #333;
}
.main .banner h3 {
  padding: 2px 0px 2px 50px;
  color: #333;
}
.main .banner p {
  line-height: 27px;
  padding: 2px 0 2px 50px;
}
.main > p {
  text-align: center;
  margin-top: 8rem;
}

/* Projects styling */
.main .projects {
  /* margin-left: 2rem; */
  margin: 0 auto;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  transition: 0.3s;
  position: relative;
}
.round-ball {
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.5;
  text-align: center;

  background-color: #1a9bbb96;
  box-shadow: 0 0 20px 10px #79ece6a8;
}
input.checkbox-theme:checked ~ section .round-ball {
  background-color: #00bfa6;
  box-shadow: 0 0 20px 10px #00bfa6;
}
.ball-1 {
  left: 50%;
  bottom: 50%;
}
.ball-2 {
  right: 60%;
  bottom: 80%;
  width: 150px;
  height: 150px;
}
.ball-3 {
  left: 90px;
  bottom: 30%;
}
.ball-4 {
  right: 5%;
  bottom: 10%;
  width: 100px;
  height: 100px;
}
.ball-5 {
  /* left: 0; */
  right: 50%;
  bottom: 65%;
}
.ball-6 {
  left: 90px;
  bottom: 50%;
}

.projects ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
  z-index: 50;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 8px;
  row-gap: 10px;
  background: #000; */
}

.projects ul li {
  /* background-color: #ffffff; */
  width: 100%;
  max-width: 300px;
  height: 350px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  gap: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  backdrop-filter: blur(25px) saturate(182%);
  -webkit-backdrop-filter: blur(25px) saturate(182%);
  background-color: rgba(0, 218, 182, 0.07);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */

  /* backdrop filter */
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
}
.projects ul li h3 {
  font-weight: 900;
  text-transform: uppercase;
}
input.checkbox-theme:checked ~ section main li {
  /* background-color: #262534; */
  backdrop-filter: blur(19px) saturate(171%);
  -webkit-backdrop-filter: blur(19px) saturate(171%);
  background-color: rgba(38, 44, 51, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.projects li .stacks {
  display: flex;
  gap: 10px;
}
.projects li .stacks i {
  font-size: 40px;
  width: 50px;
}

.projects .btns a {
  width: 100%;
}
.projects .btns button {
  width: 100%;
  cursor: pointer;
}
.projects .btns {
  display: flex;
  width: 100%;
  gap: 5px;
}

.projects .btns a button {
  border-radius: 10px;
  width: 100%;
  /* background-color: transparent; */
  border: none;
  /* border-radius: 40px; */
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  background-color: rgba(38, 44, 51, 0.5);
  /* background-color: #262534; */
  width: 100%;
}

@media (max-width: 768px) {
  section {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  nav {
    width: 0;
    z-index: 1;
    border-radius: 0;
  }
  input.checkbox-nav:checked ~ main {
    width: 93%;
  }

  input.checkbox-nav:checked ~ nav {
    width: 220px;
    /* position: absolute; */
    /* position:unset; */
  }
  input.checkbox-nav:checked ~ .toggle-nav {
    left: 230px;
  }

  .main .banner {
    flex-wrap: wrap;
  }
  .main .banner div,
  .main .banner img {
    width: 95%;
  }
  .main .banner .content {
    width: 100%;
  }
  .main .banner img {
    height: 90%;
    margin-top: 30px;
  }
  .main .banner div h1 {
    font-size: 60px;
  }
  .main .banner p {
    line-height: 22px;
  }

  /*  */
  .projects ul li {
    /* max-width: 250px; */
    height: 300px;
  }
}
